@model PhotoSharingApplication.Models.Photo

@{
    ViewBag.Title = Model.Title;
}


         
        <h2>"@Model.Title"</h2>

        <img width="500" src="@Url.Action("GetImage", "Photo", new { id = Model.PhotoID })" />

        <p>
            @Html.DisplayFor(model => model.Description)
        </p>

        <p>
            @Html.DisplayNameFor(model => model.UserName):
            @Html.DisplayFor(model => model.UserName)
        </p>

        <p>
            @Html.DisplayNameFor(model => model.CreatedDate):
            @Html.DisplayFor(model => model.CreatedDate)
        </p>
        <div id="addtofavorites">
            @Ajax.ActionLink("Add this photo to your favorites",
            "AddFavorite",
            "Photo",
            new { PhotoId = Model.PhotoID },
            new AjaxOptions { 
                UpdateTargetId = "addtofavorites",
                HttpMethod= "GET",
                InsertionMode = InsertionMode.Replace
            })
        </div>
        <p>
            @Html.Action("_CommentsForPhoto", "Comment", new {PhotoId = Model.PhotoID})
            @Html.ActionLink("Back to List", "Index")
            @Html.ActionLink("Delete This Photo", "Delete", new {id = Model.PhotoID})
        </p>
  
